[Unit]
Description=Measure De Bilt sky every ten minutes

[Timer]
OnCalendar=*-*-* *:00/10:00
Persistent=true
RandomizedDelaySec=15
AccuracySec=1

[Install]
WantedBy=timers.target
