{
	auto_https off
	admin off
}

:8185 {
	root * public/data
	header {
		Access-Control-Allow-Origin "*"
		Access-Control-Expose-Headers "Accept-Ranges, Content-Length, Content-Range, ETag"
		Accept-Ranges "bytes"
	}
	header /manifest.json Cache-Control "public, max-age=0, must-revalidate"
	header /chunks/* Cache-Control "public, max-age=31536000, immutable"
	header /chunks/* -Content-Encoding
	handle /style.json {
		root * e2e
		file_server
	}
	handle {
		root * public/data
		file_server
	}
}
